.mainInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    .imgMain {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: rgba(245, 245, 245, 1);
    }
    button {
        font-size: 120px;
        opacity: 0;
        transition: opacity 0.3s ease;
        border: none;
        background-color: transparent;
        outline: none;
    }
    &:hover button {
        opacity: 1;
    }
    .infoMain {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        .retPrice {
            margin-top: 20px;
            display: flex;
            align-items: end;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .peiceOldNew {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 4px;
            }
            .priceNew {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
            .priceOld {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
            .percent {
                display: inline-block;
                padding: 5px;
                border-radius: 10px;
                background-color: var(--gren);
                color: var(--white-text);
            }
        }
    }
}
.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-bottom: 100px;
    padding: 30px;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 10%;
        text-transform: capitalize;
        color: var(--gray);
    }
    b {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 10%;
    }
}

.imgRout {
    width: 35vw;
    aspect-ratio: 17 / 13;
    border-radius: 10px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        object-fit: contain;
    }
    .loading {
        position: absolute;
        width: 60px;
        height: 60px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 25px;
        border-radius: 50%;
        border: 1px solid var(--red-bac);
        border-bottom-color: transparent;
        animation: load 1s infinite linear;
    }
}

@media screen and (max-width: 1100px) {
    .imgRout {
        width: 40vw;
    }
}

@media screen and (max-width: 1000px) {
    .imgRout {
        width: 43vw;
    }
}

@media screen and (max-width: 980px) {
    .imgRout {
        width: 60vw;
    }
    .mainInfo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 580px) {
    .imgRout {
        width: 70vw;
    }
}

@keyframes load {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
