.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    position: relative;
        .likeIcon{
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 5px;
            border-radius:50%;
            background-color: white;
            z-index: 10;
            border-color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            svg {
                 fill: var(--white-text);
                 transition: fill 0.3s ease;
            }
        }
        .likeIconSel{
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 5px;
            border-radius:50%;
            background-color: var(--white-text);
            z-index: 10;
            border-color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
             svg {
                 fill:var(--red-bac);
                }
        }
        .divImg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(245, 245, 245, 1);
        width: 100%;
        position: relative;
        width: 100%;
            aspect-ratio: 17 / 16;
        .loading{
            position: absolute;
            width: 60px;
            height: 60px;
            margin: auto;
            right: 0;
            left: 0;
            top: 0;
            bottom: 25px;
            border-radius: 50%;
            border: 1px solid var(--red-bac);
            border-bottom-color: transparent;
            animation: load 1s infinite linear;
            
        }
        img {
            width:100%;
            max-width: 500px;
            aspect-ratio: 17 / 16;
            object-fit: contain;
            display: block;
            padding: 10px 5px 40px 5px;
            transition: 0.3s;
          }
          
    }
    .add{
        background-color:rgba(0, 0, 0, 1);
        color: var(--white-text);
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 12px 0;
        border: none;
        display: none;
        position: absolute;
        bottom: 0;
    }
    .divImg:hover  .add {
        display: flex;
      }
    .priceName{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        h2{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;   
            color: var(--black);       
        }
    }
}

@keyframes load{
    0%{
        transform: rotateZ(0deg);
    }100%{
        transform: rotateZ(360deg);
    }

}

